*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #1f2430;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-container{
  max-width: 100rem;
  min-width: 5rem;
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: row-reverse;
}

canvas {
  border: 2px solid black;
  margin: auto;
}

div#drawing-pad {
  max-width: 60rem;
  height: auto;
  margin: auto 1rem;
  overflow: auto;
  background-color: snow;
}

#toolbar {
  width: auto;
  height: 33rem;
  margin: auto;
  background-color: gold;
}



.btn {
  padding: 1rem;
  background-color: transparent;
}

@media only screen and (max-width:500px){
}
